<template>
  <div>
    <div>
      <img v-bind:src="image_url" alt="" />
    </div>
    <div>
      <strong>{{ name }}</strong>
      <p><strong>Tagline: </strong>{{ tagline }}</p>
      <p><strong>Description: </strong>{{ description }}</p>
      <p><strong>Yeast: </strong>{{ ingredients.yeast }}</p>
      <p><strong>Contributed by: </strong> {{ contributed_by }}</p>
      <button @click="showModal(index)">Read More</button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    name: String,
    tagline: String,
    description: String,
    image_url: String,
    ingredients: Object,
    ebc: Number,
    ibu: Number,
    abv: Number,
    ph: Number,
    contributed_by: String,
    food_pairing: Array
  }
};
</script>
<style lang="scss" module></style>
