<template>
  <div>
    <router-view>
      <div>
        <h2>List of beers</h2>
        <div>
          <input type="text" v-model="search" placeholder="Search your beer" />
        </div>
      </div>

      <BeerItem v-for="item in beers" v-bind="item" v-bind:key="item.id" />
      <span>
        <div v-for="(beer, index) in filteredList" :key="index">
          <modal :ref="'modal_' + index">
            <div>
              <img v-bind:src="beer.image_url" alt="" />
            </div>
            <div>
              <strong>{{ beer.name }}</strong>
              <span>
                <strong>Berr stats:</strong>
                <ul>
                  <li><strong>ABV:</strong>{{ beer.abv }}</li>
                  <li><strong>IBU:</strong>{{ beer.ibu }}</li>
                  <li><strong>EBC:</strong>{{ beer.ebc }}</li>
                  <li><strong>PH</strong>{{ beer.ph }}</li>
                </ul>
              </span>
              <p><strong>Brewer's tips: </strong>{{ beer.brewers_tips }}</p>
              <div>
                <h3>Hops:</h3>
                <li v-for="(hops, index) in beer.ingredients.hops" :key="index">
                  {{ hops.name }}: {{ hops.amount.value }} ({{ hops.amount.unit }})
                </li>
              </div>
              <div>
                <h3>Malt:</h3>
                <li v-for="(malt, index) in beer.ingredients.malt" :key="index">
                  {{ malt.name }}: {{ malt.amount.value }} ({{ malt.amount.unit }})
                </li>
              </div>
              <span>
                <strong>Good with: </strong>
                <ul>
                  <li v-for="(food, index) in beer.food_pairing" :key="index">- {{ food }}</li>
                </ul>
              </span>
            </div>
          </modal>
        </div>
      </span>
      <span> </span>
    </router-view>
  </div>
</template>
<script>
import { mapState } from 'vuex';
import BeerItem from '../beeritem/BeerItem';
import Modal from '../modal/BeerModal';
import Observer from '../observer/Observer';
import InfiniteBeers from '../infinitebeer/InfiniteBeers';
export default {
  components: {
    Modal,
    BeerItem,
    InfiniteBeers,
    Observer
  },
  data: () => ({
    search: '',
    errors: [],
    items: [],
    page: 2,
    perpage: 1
  }),
  mounted() {
    this.$store.dispatch('loadBeers');
  },
  computed: {
    filteredList() {
      return this.beers.filter(beers =>
        beers.name.toLowerCase().includes(this.search.toLowerCase())
      );
    },
    infiniteSearch() {
      return this.items.filter(items =>
        items.name.toLowerCase().includes(this.search.toLowerCase())
      );
    },
    ...mapState(['beers'])
  },
  methods: {
    showModal(index) {
      let modal_id = 'modal_' + index;
      this.$refs[modal_id][0].show(index);
    },
    async intersected() {
      const res = await fetch(
        `https://api.punkapi.com/v2/beers?page=${this.page++}&per_page=${this.perpage}`
      );
      const items = await res.json();
      this.items = [...this.items, ...items];
      console.log(items);
    }
  }
};
</script>
<style lang="scss" module></style>
