<template>
  <modal class="modalContent" :ref="'modal_' + index">
    <div class="modalimage-image">
      <img v-bind:src="image_url" alt="" />
    </div>
    <div class="modal-text">
      <strong class="boxHeading">{{ name }}</strong>
      <span class="beer-more-stats">
        <strong>Berr stats:</strong>
        <ul>
          <li><strong>ABV:</strong>{{ abv }}</li>
          <li><strong>IBU:</strong>{{ ibu }}</li>
          <li><strong>EBC:</strong>{{ ebc }}</li>
          <li><strong>PH</strong>{{ ph }}</li>
        </ul>
      </span>
      <p><strong>Brewer's tips: </strong>{{ brewers_tips }}</p>
      <div class="hopscontainer">
        <h3>Hops:</h3>
        <li v-for="(hops, index) in ingredients.hops" :key="index">
          {{ hops.name }}: {{ hops.amount.value }} ({{ hops.amount.unit }})
        </li>
      </div>
      <div class="malt">
        <h3>Malt:</h3>
        <li v-for="(malt, index) in ingredients.malt" :key="index">
          {{ malt.name }}: {{ malt.amount.value }} ({{ malt.amount.unit }})
        </li>
      </div>
      <span class="goodwith">
        <strong>Good with: </strong>
        <ul class="likefood">
          <li v-for="(food, index) in food_pairing" :key="index">- {{ food }}</li>
        </ul>
      </span>
    </div>
  </modal>
</template>
<script>
export default {
  props: {
    name: String,
    tagline: String,
    description: String,
    image_url: String,
    ingredients: Object,
    ebc: Number,
    ibu: Number,
    abv: Number,
    ph: Number,
    contributed_by: String,
    food_pairing: Array
  }
};
</script>
