<template>
  <div>
    <button @click="showModal()">Read More</button>
    <modal :ref="'modal_'">
      <div>
        <div>
          <img v-bind:src="image_url" alt />
        </div>
        <div>
          <h2>{{ name }}</h2>
          <span>
            <strong>Berr stats:</strong>
            <ul>
              <li>
                <strong>ABV:</strong>
                {{ abv }}
              </li>
              <li>
                <strong>IBU:</strong>
                {{ ibu }}
              </li>
              <li>
                <strong>EBC:</strong>
                {{ ebc }}
              </li>
              <li>
                <strong>PH</strong>
                {{ ph }}
              </li>
            </ul>
          </span>
          <div>
            <h3>Hops:</h3>
            <li v-for="(hops, index) in ingredients.hops" :key="index">
              {{ hops.name }}: {{ hops.amount.value }} ({{ hops.amount.unit }})
            </li>
          </div>
          <span>
            <strong>Good with:</strong>
            <ul>
              <li v-for="(food, index) in food_pairing" :key="index">- {{ food }}</li>
            </ul>
          </span>
          <p>
            <strong>Tagline:</strong>
            {{ tagline }}
          </p>
          <span>
            <strong>Description:</strong>
            {{ description }}
          </span>
          <p>
            <strong>Yeast:</strong>
            {{ ingredients.yeast }}
          </p>
          <p>
            <strong>Contributed by:</strong>
            {{ contributed_by }}
          </p>
        </div>
      </div>
    </modal>
    <div>
      <div>
        <img v-bind:src="image_url" alt />
      </div>
      <div>
        <h2>{{ name }}</h2>
        <p>
          <strong>Tagline:</strong>
          {{ tagline }}
        </p>
        <span>
          <strong>Description:</strong>
          {{ description }}
        </span>
        <p>
          <strong>Yeast:</strong>
          {{ ingredients.yeast }}
        </p>
        <p>
          <strong>Contributed by:</strong>
          {{ contributed_by }}
        </p>
      </div>
    </div>
  </div>
</template>
<script>
import Modal from '../modal/BeerModal';
export default {
  components: {
    Modal
  },
  name: 'infinitebeers',
  props: {
    name: String,
    tagline: String,
    description: String,
    image_url: String,
    ingredients: Object,
    ebc: Number,
    ibu: Number,
    abv: Number,
    ph: Number,
    contributed_by: String,
    food_pairing: Array
  },
  methods: {
    showModal() {
      let modal_id = 'modal_';
      this.$refs[modal_id].show();
    }
  }
};
</script>
<style lang="scss" scoped></style>
