<template>
  <div :class="$style['hcontainer']">
    <div :class="$style['hcontainer__left']">
      <div :class="$style['hglasscontainer']">
        <div :class="$style['hglasscontainer__glass']">
          <div :class="$style['hglasscontainer__beer']"></div>
        </div>
        <div :class="$style['hglasscontainer__poignet']"></div>
        <div :class="$style['hglasscontainer__mousse_1']"></div>
        <div :class="$style['hglasscontainer__mousse_2']"></div>
        <div :class="$style['hglasscontainer__mousse_3']"></div>
        <div :class="$style['hglasscontainer__mousse_4']"></div>
        <div :class="$style['hglasscontainer__mousse_5']"></div>
        <div :class="$style['hglasscontainer__mousse_volante']"></div>
        <div :class="$style['hglasscontainer__mousse_interieur']"></div>
        <div :class="$style['hglasscontainer__mousse_interieur_2']"></div>
        <div :class="$style['hglasscontainer__mousse_interieur_3']"></div>
        <div :class="$style['hglasscontainer__mousse_interieur_4']"></div>
      </div>
      <h2 :class="$style['happtitle']">
        Beer App
        <span :class="$style['happtitle__color']">v2</span>
      </h2>
    </div>
    <div :class="$style['hcontainer__right']">
      <nav>
        <ul>
          <router-link to="/">Home</router-link>
          |
          <router-link to="/fav">Fav</router-link>
          |
          <router-link to="/contact">Contact</router-link>
        </ul>
      </nav>
    </div>
  </div>
</template>
<style lang="scss" module>
.hcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(120px, auto);
  justify-items: center;
  border-bottom: 1px solid hsla(0, 0%, 91%, 1);
  &__left {
    display: flex;
    align-content: center;
    align-items: center;
  }
  .hglasscontainer {
    &__beer {
      position: absolute;
      left: 0;
      top: 10px;
      width: 58px;
      height: 84px;
      background: transparent;
      position: absolute;
      left: 6px;
      top: 0px;
      border-radius: 0 0 5px 5px;
      overflow: hidden;
      &::before {
        content: '';
        width: 250px;
        height: 250px;
        background: #e8b504;
        position: absolute;
        top: 83px;
        left: -190px;
        transform: rotate(40deg);
        -webkit-animation: beer 10s infinite;
      }
    }
    &__glass {
      width: 70px;
      height: 90px;
      background: transparent;
      border: solid 3.5px hsla(0, 0%, 88%, 1);
      border-top: none;
      border-radius: 0 0 10px 10px;
      position: absolute;
      top: 19px;
      left: 265px;
      overflow: hidden;
      transform: rotate(-20deg);
      -webkit-animation: glass 10s infinite;
    }
    &__poignet {
      width: 30px;
      height: 55px;
      background: transparent;
      border: solid 3.5px hsla(0, 0%, 88%, 1);
      position: absolute;
      top: 0;
      left: 335px;
      border-radius: 0 16px 16px 0;
      border-left: none;
      transform: rotate(-20deg);
      -webkit-animation: poignet 10s infinite;
    }
  }
}
.hglasscontainer__mousse_1 {
  position: absolute;
  top: 0;
  left: 260px;
  z-index: 4;
  &::before {
    content: '';
    width: 20px;
    height: 20px;
    background: hsla(0, 0%, 88%, 1);
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse 10s infinite;
  }
  &::after {
    content: '';
    width: 17px;
    height: 17px;
    background: hsla(0, 0%, 88%, 1);
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 10px;
    -webkit-animation: mousse 10s infinite;
  }
}
.hglasscontainer__mousse_2 {
  position: absolute;
  top: 0;
  left: 280px;
  z-index: 4;
  &::before {
    content: '';
    width: 20px;
    height: 20px;
    background: hsla(0, 0%, 88%, 1);
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse 10s infinite;
  }
  &::after {
    content: '';
    width: 17px;
    height: 17px;
    background: hsla(0, 0%, 88%, 1);
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 10px;
    -webkit-animation: mousse 10s infinite;
  }
}
.hglasscontainer__mousse_3 {
  position: absolute;
  top: 0;
  left: 290px;
  z-index: 4;
  &::before {
    content: '';
    width: 20px;
    height: 20px;
    background: hsla(0, 0%, 88%, 1);
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse 10s infinite;
  }
  &::after {
    content: '';
    width: 17px;
    height: 17px;
    background: hsla(0, 0%, 88%, 1);
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 15px;
    -webkit-animation: mousse 10s infinite;
  }
}
.hglasscontainer__mousse_4 {
  position: absolute;
  top: 0;
  left: 310px;
  z-index: 4;
  &::before {
    content: '';
    width: 20px;
    height: 20px;
    background: hsla(0, 0%, 88%, 1);
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse 10s infinite;
  }
  &::after {
    content: '';
    width: 17px;
    height: 17px;
    background: hsla(0, 0%, 88%, 1);
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 10px;
    -webkit-animation: mousse 10s infinite;
  }
}
.hglasscontainer__mousse_5 {
  position: absolute;
  top: 0;
  left: 315px;
  z-index: 4;
  -webkit-animation: mousse 10s infinite;
  &::before {
    content: '';
    width: 20px;
    height: 20px;
    background: hsla(0, 0%, 88%, 1);
    border-radius: 50%;
    position: absolute;
  }
}
.hglasscontainer__mousse_volante {
  position: absolute;
  top: 0;
  left: 212px;
  z-index: 4;
  &::before {
    content: '';
    width: 12px;
    height: 12px;
    background: hsla(0, 0%, 88%, 1);
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse_volante 10s infinite;
  }
  &::after {
    content: '';
    width: 8px;
    height: 8px;
    background: hsla(0, 0%, 88%, 1);
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 40px;
    -webkit-animation: mousse_volante 10s infinite;
  }
}
.hglasscontainer__mousse_interieur {
  position: absolute;
  top: 0;
  left: 218px;
  z-index: 4;
  opacity: 0.9;
  &::before {
    content: '';
    width: 6px;
    height: 6px;
    background: hsla(0, 0%, 88%, 1);
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse_interieur 10s infinite;
  }
  &::after {
    content: '';
    width: 4px;
    height: 4px;
    background: hsla(0, 0%, 88%, 1);
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 30px;
    -webkit-animation: mousse_interieur 5s infinite;
  }
}
.hglasscontainer__mousse_interieur_2 {
  position: absolute;
  top: 0;
  left: 225px;
  z-index: 4;
  opacity: 0.9;
  &::before {
    content: '';
    width: 7px;
    height: 7px;
    background: hsla(0, 0%, 88%, 1);
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse_interieur 10s infinite;
  }
  &::after {
    content: '';
    width: 3px;
    height: 3px;
    background: hsla(0, 0%, 88%, 1);
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 17px;
    -webkit-animation: mousse_interieur 5s infinite;
  }
}
.hglasscontainer__mousse_interieur_3 {
  position: absolute;
  top: 245px;
  left: 232px;
  z-index: 4;
  opacity: 0.9;
  &::before {
    content: '';
    width: 9px;
    height: 9px;
    background: hsla(0, 0%, 88%, 1);
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse_interieur 10s infinite;
  }
  &::after {
    content: '';
    width: 5px;
    height: 5px;
    background: hsla(0, 0%, 88%, 1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 12px;
    -webkit-animation: mousse_interieur 5s infinite;
  }
}
.hglasscontainer__mousse_interieur_4 {
  position: absolute;
  top: 241px;
  left: 238px;
  z-index: 4;
  opacity: 0.9;
  &::before {
    content: '';
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse_interieur 10s infinite;
  }
  &::after {
    content: '';
    width: 5.5px;
    height: 5.5px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 28px;
    left: 2px;
    -webkit-animation: mousse_interieur 5s infinite;
  }
}
.happtitle {
  padding: 0;
  margin: 0;
  &__color {
    color: hsla(33, 100%, 50%, 0.95);
  }
}
.hcontainer__right {
  display: flex;
  align-content: center;
  align-items: center;
  a {
    color: hsla(180, 3%, 19%, 1);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1em;
    transition: all 250ms ease-in-out;
    &:hover {
      color: hsl(0, 0%, 50%);
    }
  }
}
/* ANIMATIONS */
@-webkit-keyframes beer {
  0% {
    transform: translateY(-5);
  }
  17% {
    transform: translateY(-82px);
  }
  100% {
    transform: translateY(-82px);
  }
}
@-webkit-keyframes glass {
  0% {
    transform: rotate(-20deg);
  }
  17% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes poignet {
  0% {
    transform: rotate(-20deg);
  }
  17% {
    transform: rotate(0deg) translateX(5px) translateY(20px);
  }
  100% {
    transform: rotate(0deg) translateX(5px) translateY(20px);
  }
}
@-webkit-keyframes mousse {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
}
@-webkit-keyframes mousse_volante {
  0% {
    transform: scale(0) translateY(0px);
  }
  10% {
    transform: scale(0) translateY(0px);
  }
  20% {
    transform: scale(1) translateY(-20px);
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(-80px);
    opacity: 0;
  }
}
@-webkit-keyframes mousse_interieur {
  0% {
    transform: scale(0) translateY(0px);
  }
  20% {
    transform: scale(0) translateY(0px);
  }
  40% {
    transform: scale(1) translateY(-60px);
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(-60px);
    opacity: 0;
  }
}
</style>
