<template>
  <div>
    <div>
      <p>Created with &#10084; by Ivan</p>
    </div>
    <div>
      <p>Copyright &#9400; by ivantech</p>
    </div>
  </div>
</template>
<style lang="scss" module></style>
